<?xml version="1.0"?>
<!--
/**
 *
 * @category    Jworks
 * @package     Jworks_UrlRewriteImport
 * @author Jitheesh V O <jitheeshvo@gmail.com>
 * @copyright Copyright (c) 2017 Jworks Digital ()
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="urlrewrite" frontName="urlrewrite">
            <module name="Jworks_UrlRewriteImport" before="Magento_UrlRewrite" />
        </route>
    </router>
</config>
